body{
    background: #c3b6ce;
    margin: 0;
}

.dino{
    width: 60px;
    height: 60px;
    background-image: url(/dio-dino-game-master/dino.png);
    position: absolute;
    bottom: 0;
}

.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(/dio-dino-game-master/cactus.png);
}

.game-over{
    text-align: center;
    color: aliceblue;
    font-family: arial;
}

@keyframes slideright{
    from{
        background-position: 70000%;
    }
    to{
        background-position: 0;
    }
}

.background{
    position: absolute;
    bottom: 0;
    background-image: url(/dio-dino-game-master/background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}